@model IEnumerable<Showing>

@{
    ViewBag.Title = Strings.MoviesList;
}
<div>
<p>
    @Html.ActionLink(Strings.Create, "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @(item.IsSubtitles ? Strings.Subtitles : Strings.Dubbing),
                    @(item.Is2D ? Strings.Movie2D : Strings.Movie3D)
                </td>                
                <td class="ml-auto">
                @Html.ActionLink(Strings.Edit, "Edit", new { id=item.ID }, new { @class="btn btn-sm btn-outline-light"})
                @Html.ActionLink(Strings.Details, "Details", new { id=item.ID }, new { @class = "btn btn-sm btn-outline-light" })
                @Html.ActionLink(Strings.Delete, "Delete", new { id=item.ID }, new { @class="btn btn-sm btn-outline-danger"})
                </td>
            </tr>
         }
    </tbody>
</table>
</div>
