@using CinemaApp.Models
@using CinemaApp.Resources
@model LoginViewModel
@{
    ViewBag.Title = Strings.Login;
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@Strings.Login</h4>
    <hr />
    <div class="form-group">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="form-row">
        <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "invalid-feedback" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "invalid-feedback" })
        </div>
        <div class="form-group">
            <div class="form-check">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="@Strings.Login" class="btn btn-primary mb-1"/>
        @Html.ActionLink(Strings.ForgotPasswordQuestion, "ForgotPassword", null, new { @class = "btn btn-sm btn-outline-light" })
        @Html.ActionLink(Strings.Register, "Register", null, new { @class = "btn btn-sm btn-outline-light" })
    </div> 
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}