@model RegisterViewModel
@{
    ViewBag.Title = Strings.Register;
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@Strings.CreateNewAccount</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    <div class="form-row">
        <div class="col-md-6 form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.Name, "", new { @class="invalid-feedback"})
        </div>
        <div class="col-md-6 form-group">
            @Html.LabelFor(m => m.Surname)
            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.Surname, "", new { @class="invalid-feedback"})
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 form-group">
            @Html.LabelFor(m => m.Email, new { @class = "" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class="invalid-feedback"})
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 form-group">
            @Html.LabelFor(m => m.Password, new { @class = "" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class="invalid-feedback"})
        </div>
        <div class="col-md-6 form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class="invalid-feedback"})
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="@Strings.Register" />
    </div>
}
