@{
    ViewBag.Title = Strings.AdminPanel;
}

<h2>@Strings.AdminPanel</h2>
<a class="btn btn-large btn-primary" href="@Url.Action("Index", "MoviesManager")">@Strings.Movies</a>
<a class="btn btn-large btn-primary" href="@Url.Action("Index", "ShowingsManager")">@Strings.MoviesList</a>
