@model ChangePasswordViewModel
@{
    ViewBag.Title = Strings.ChangePassword;
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "", role = "form" }))
{
    <h4>@Strings.ChangePassword</h4>
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    <div class="row">
        <div class="col-md-6 form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "" })
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "invalid-feedback" })
        </div>
    </div>
    <div class="form-row form-group">
        <div class="col-md">
            @Html.LabelFor(m => m.NewPassword, new { @class = "" })
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "invalid-feedback" })
        </div>
        <div class="col-md">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "invalid-feedback" })
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="@Strings.ChangePassword" class="btn btn-primary" />
    </div>
}