@model IndexViewModel
@{
    ViewBag.Title = Strings.ManageAccount;
}
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@Model.Name @Model.Surname</h4>
    <hr />

    @Html.ActionLink(Strings.ChangePassword, "ChangePassword", null, new { @class = "btn btn-primary" })
    @Html.ActionLink(Strings.OrderHistory, "Index", null, new { @class = "btn btn-primary" })
</div>
